<div class="card-top container-fluid">
    <div class="container d-flex">
      <div class="item">
        <a>
          <img src="/assets/Products.png" alt="All products" />
          <h6>All products</h6>
        </a>
      </div>
      <div class="item">
        <a>
          <img src="/assets/Electronics.png" alt="Electronics" />
          <h6>Electronics</h6>
        </a>
      </div>
      <div class="item">
        <a>
          <img src="/assets/Fashion.png" alt="Fashion" />
          <h6>Fashion</h6>
        </a>
      </div>
      <div class="item">
          <a>
            <img style="width:88px;" src="/assets/Jewellery.png" alt="Jewellery" />
            <h6>Jewellery</h6>
          </a>
        </div>
    </div>
  </div>