<div appCustomStyle [color1]="color1" [color2]="color2" [border]="border"class="card col-md-3" style="width: 18rem;">
  <img src="{{ product.image }}" alt="image" />
  <strong
    style="
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 100ch;
    "
    >{{ product.title }}</strong
  >
  <p
    style="
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 100ch;
    "
  >
    {{ product.description }}
  </p>
  <p><strong>{{constant.price}}: </strong>{{ product.price | priceFormat : "USD" }}</p>
  <button class="btn btn-primary" (click)="addToCart(product)">
  {{constant.addToCart}}
  </button>
  <a [routerLink]="['/products', 'edit-product', product.id]">{{constant.viewOrEdit}}</a>
</div>
